<a href="https://colab.research.google.com/github/Amit-kr-pandey/Amit-kr-pandey/blob/main/Assignment_day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignsment

In [ ]:
#1.	Write a program to implement a calculator:
character = input("Enter the character : + , - , * , / , // , ** ")
value1 = int(input("Enter the first number : "))
value2 = int(input("Enter the second number : "))
if(character == '+'):
    print("Add of ",value1," and ",value2,"is = ",value1+value2)
elif(character == '-'):
   print("Subtract of ",value1," and ",value2,"is = ",value1-value2)
elif(character == '*'):
  print("Multiplication of ",value1," and ",value2,"is = ",value1*value2)
elif(character == '/'):
  print("Decimal division of ",value1," and ",value2,"is = ",value1/value2)
elif(character == '//'):
  print("Division of ",value1," and ",value2,"is = ",value1//value2)    
else:
  print("Exponent of ",value1," and ",value2,"is = ",value1**value2)

Enter the character : + , - , * , / , // , ** //
Enter the first number : 3
Enter the second number : 3
Division of  3  and  3 is =  1

In [28]:
#2.accept a number from the user. The number should be greater than 0 and less than 30000.
num_str= input("Enter a number, that should be greater than 0 and less than 30000\n");
num_int= int(num_str)
if (num_int > 1 and num_int <30000):
   if len(num_str) >= 3:
     third_digit = int(num_str[2])
     print(third_digit)
     if third_digit % 2 == 0:
      print(third_digit,"Today is sunny")
     else :
      print(third_digit,"Today is a rainy day")
   else :
    print("today is windy day")
else :
 print("invalid input")

Enter a number, that should be greater than 0 and less than 30000
342
2
2 Today is sunny

In [ ]:
 #b. Find the average of all prime numbers and display
def functionprime(x):
 flag = 0
 n = (x)//2
 if(x == 0 or x ==1):
  flag =1
 for i in range(2,n):
   if(x % i == 0):
     flag =1
     break
 if(flag==0):
   return (True)
 else:
   return (False)

In [ ]:

l1 = [34,23,32,11,7,9,19]
l2 = [i for i in l1 if(functionprime(i))]

from functools import reduce
 
reduce(lambda x,y:(x+y)//len(l2),l2)

5

In [ ]:
#3.a. Find the factorial of a number using reduce.
num = int(input("Enter a number"))
from functools import reduce
reduce(lambda x,y:x*y,range(1,num+1))

Enter a number5

120

In [ ]:
#3.b
employee = {"John":392480923849,"Angel":3920482039489}
 
employee.get("john")
employee.get("Angel")
employee.get("Joe's ","unavailable")

'unavailable'

In [ ]:
#3.c Pattern matching and how may times a given pattern if found in 4
#a string
pattern = "#$#&example$#*Of$$pattern#$$matching"
matchPattern = pattern.split("$")
len(matchPattern)-1

6

In [ ]:
#4.a Find repeat count in a string
repeatCount = "I like candy I like milk candy I like chocolate candy"
print("I = ",repeatCount.count("I"))
print("like = ",repeatCount.count("like"))
print("candy = ",repeatCount.count("candy"))

I =  3
like =  3
candy =  3

In [21]:
#4.a Find repeat count in a string(Example2)
repeatCount = "I like candy I like milk candy I like chocolate candy"
word = repeatCount.split()
print(word)
dict = {}
for i in word:
  dict[i] = dict.get(i,0)+1
print(dict)

['I', 'like', 'candy', 'I', 'like', 'milk', 'candy', 'I', 'like', 'chocolate', 'candy']
{'I': 3, 'like': 3, 'candy': 3, 'milk': 1, 'chocolate': 1}

In [ ]:
# 4.b
# ls = list()
ls = [12,5,6,9,20,15,25,7,3,2]
lse = list(map(lambda x:x*2 if not x//5 else x,ls))
lse

[12, 5, 6, 9, 20, 15, 25, 7, 6, 4]

In [22]:
#examples
# pattern matching: find out how many times a given pattern is found in a string.
#Rule: Use only string functions

def count_substring(string,sub_string):
  occ = 0
  for i in range(0,len(string)):
    slice_object = slice(i,len(sub_string)+1)
    count = len(string[slice_object])
    if(count == len(sub_string)):
      if(sub_string == string[slice_object]):
        occ = occ + 1
  return occ

if __name__== '__main__':
  string = input().strip()
  sub_string = input().strip()

  count = count_substring(string,sub_string)
  print(count)

abddes
abd
0

# Opps Assignment

In [20]:
#1> Abstracrt class and methods
from abc import abstractmethod,ABC
class Medicine(ABC):
 
  def getDetails(self ):pass
        
  @abstractmethod
  def displayLabel(self):
    pass

class Tablet(Medicine):
  def __init__(self):
   def displayLabel(self):
     print("store in a cool dry place")

class Syrup(Medicine):
 def __init__(self):

  def displayLabel(self):
     print("Should not be stored in cool places")
      

class Ointment(Medicine):
  def __init__(self ):    


   def displayLabel(self):
     print("for external use only")

In [17]:
#Inhanced repeatation code of day 2 
#find the repeataiton in the list
ls = [45,34,67,23,67,45,23,67,45,12,45]
cntr = 0
repeatlist=list()
for i in ls:
  repeatcount=0
  for j in ls[cntr:]:    
     if i == j:
       if i not in repeatlist:                    
           repeatlist.append(i)    
       else:
         print(i)
         repeatcount = repeatcount +1
  cntr += 1
  print(repeatcount) 
print(repeatlist)

45
45
45
3
0
67
67
2
23
1
67
67
2
45
45
45
3
23
1
67
1
45
45
2
0
45
1
[45, 34, 67, 23, 12]