<a href="https://colab.research.google.com/github/Amit-kr-pandey/Amit-kr-pandey/blob/main/BasicConstructs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hello world proogram
# i am wirting 
# my first program

print("My name is Amit")

My name is Amit

In [ ]:
#  program for concat and declare and initilize vairable
myName = "Amit"

print("My name is " + myName)

My name is Amit

In [ ]:
#accept input from the user
myName = input("Enter you name")
print("My name is : " , myName)

Enter you nameAmit
My name is :  Amit

In [ ]:
# accept age from user
# input method always return string; so typecast the data
myAge = int(input("Enter your age"))
myage = myAge+1
print("myAge",myage)

Enter your age23
myAge 24

In [ ]:
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
z = x+y
print("The Sum of two number is ",z)

Enter first number:2
Enter first number:3
The Sum of two number is  5

In [ ]:
x =5
type(x)
y=3.3

print(type(y))

<class 'float'>

In [ ]:
# + addition
# - substraction
# * multiplication
# // integer division
# ** exponent
# / division

a = 13
b = 5
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

65
2.6
2
3
371293

In [ ]:
# selectional / conditional constructiors
x = int(input("enter your age"))
if(x>=18):
  if(x>=50):
    print("you are senoir citizen")
    print("You have voting right : ")
  print("Your are a mojor now:")
elif(x>=13):
  print("you do not have voting rights but you are a teenager")
else:
  print("your do no have voting right")
  print("you are minor")
print("please contact nearest govt office")

enter your age50
you are senoir citizen
You have voting right :
Your are a mojor now:
please contact nearest govt office

In [ ]:
#  even or odd
num = int(input("Enter a number"))
if(num%2==0):
  print("even number")
else:
  print("odd number")

Enter a number3
odd number

In [ ]:
#complext conditions - and , or
x = 1
y = 0
if(x>2 and (x/y)>2):
  print("enterd if ")
# first condiion is false

ZeroDivisionError: ignored

In [ ]:
# iteration construct 
# for , while
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,2):
  print(i)

# range(initilization,upto,increment or update like)

2
4
6
8

In [ ]:
#Fibonnacci serries
x = int(input("Enter number"))
i =1
n1 = 0
n2 = 1
for i in range(x):
  nth = n1+n2
  print(n1,end=" ")
  n1 =n2
  n2 =nth

Enter number10
0 1 1 2 3 5 8 13 21 34

In [ ]:
#Fibonnacci serries
x = int(input("Enter number"))
i =1
n1 = 0
n2 = 1
nth =0;
while(nth <= x):
  nth = n1+n2
  print(n1,end=" ")
  n1 =n2
  n2 =nth

Enter number10
0 1 1 2 3 5

In [ ]:
#Find the factorial
num = int(input("Enter the number"))
fact=1;
for i in range(1,num+1):
  fact = fact*i
print(fact)

Enter the number4
24

In [ ]:
#check if a given number is "prime"
# x = int(input("Enter a number "))
# flag = 0
# n = (x)//2
# if(x == 0 or x ==1):
#   flag =1
# for i in range(2,n+1):
#   if(x % i == 0):
#     flag =1
#     break
# if(flag==0):
#   print("number is prime",x)
# else:
#   print(x,"number is not prime")

#2 generate all prime numbers within a given range
# lnum = 2 hnum =30 o/p 2,3,5,,7,11..
# x = int(input("Enter fist number "))
# y = int(input("Enter second number "))
# if(x<y):
#  flag = 0
#  n = (x+1)//2
#  if(x == 0 or x ==1):
#    flag =1
#  for i in range(2,n+1):
#    if(x % i == 0):
#      flag =1
#      break
#  if(flag==0):
#    for i in range(2,y+1):
#      print("number is prime",i)

#3.generate the next prime number
#num = 7; o/p = 11
#num = 8 ; o/p = 11
x = int(input("Enter a number "))
flag = False
n=(x+1)//2
while(flag == False):
   x +=1
   flag == True
   for i in range(2,n):
    if(x % i == 0):
      flag =True
      break
if(flag==False):  
     print("number is prime",x)

Enter a number 7

In [ ]:
# how to do swap 2 numbers
x=8
y=9

print("x=",x," y=",y)
(x,y) = (y,x)
print("x=",x," y=",y)

x= 8  y= 9
x= 9  y= 8

In [ ]:
# what are the methods string
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
fruit ="orange"
fruit.upper()

'ORANGE'

In [ ]:
fruit ="orange"
fruit.title()

'Orange'

In [ ]:
fruit ="orange000"
fruit.count("0")

3

In [ ]:
help(fruit.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
#slicing
#extracting a substring
fruit ="orange000"
len(fruit)

9

In [ ]:
#access every character of the string
alpha="eresgrsfgsdg"
for i in alpha:
 print(i," ")

e
r
e
s
g
r
s
f
g
s
d
g

In [ ]:
#Repeate operator each character multiplied with 3 and print 3 times
alpha="eresgrsfgsdg"
for i in alpha:
 print(i*3)

eee
rrr
eee
sss
ggg
rrr
sss
fff
ggg
sss
ddd
ggg

In [ ]:
#Range of characters starting index and stop index
alpha="eresgrsfgsdg"
alpha[0:5]

'eresg'

In [ ]:
#print first character
alpha="eresgrsfgsdg"
print(alpha[0])

e

In [ ]:
#last cahracter
alpha="eresgrsfgsdg"
alpha[-1]

'g'

In [ ]:
alpha="eresgrsfgsdg"
alpha[3:9:2]

'srf'

In [ ]:
alpha="eresgrsfgsdg"
alpha[13:5:-1]

'gdsgfs'

In [ ]:
alpha="eresgrsfgsdg"
alpha[5:]

'rsfgsdg'

In [ ]:
alpha="eresgrsfgsdg"
alpha[-1:-5:-1]

'gdsg'

In [ ]:
alpha="eresgrsfgsdg"
alpha[::-1]

'gdsgfsrgsere'

In [ ]:
alpha="eresgrsfgsdg"
alpha[0:29]

'eresgrsfgsdg'

In [ ]:
alpha="eresgrsfgsdg"
alpha.startswith("e")

True

In [ ]:
sent="#money#finance#india#inflation"
neObj=sent.split("#")
len(neObj)
#print(sent.split("#"))
#len(sent)

5

In [ ]:
name = ['Rahul','is','a','good','boy']
sent = ' '.join(name)
print(sent + ".yes , he is")

Rahul is a good boy.yes , he is

In [ ]:
name = ['Rahul','is','a','good','boy']
print(str(name))

['Rahul', 'is', 'a', 'good', 'boy']

In [ ]:
#find
alpha="eresgrsfgsdg"
alpha.find('g',6)

8

In [ ]:
#find chek the character present or not
alpha="eresgrsfgsdg"
'g' in alpha

True

In [ ]:
#list is like arrya but with a diff - use square bracket
#heterogeneouts
# array elements of same datatypes ; whereas list can be a diff datatypes
#lists are mutuable:

list1 =[2,5.6,'Amit',True]
list1
type(list1)

list

In [ ]:
list1 =[2,5.6,'Amit',True]
print(list1[2])

Amit

In [ ]:
list1 =[2,5.6,'Amit',True]
for i in list1:
  print(i)

2
5.6
Amit
True

In [ ]:
values = list(range(4,50,5))
values

[4, 9, 14, 19, 24, 29, 34, 39, 44, 49]

In [ ]:
values = list(range(4,50,5))
values[2]=78
values

[4, 9, 78, 19, 24, 29, 34, 39, 44, 49]

In [ ]:
str1 ="gud mrng"
print(str1)
str1 = "gud even"
print(str1)

gud mrng
gud even

In [ ]:
values = list(range(4,50,5))
values[3:6:1]

[19, 24, 29]

In [ ]:
newval =list(range(3,70,6))
# newval[3:30:4]
newval

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69]

In [ ]:
#insert, append,extend
#pop,remove,delete elements from the list
newval =list(range(3,70,6))
newval.insert(5,15)
#index and element to insert
# newval.append('king')
#newval.extend('king')
newval

[3, 9, 15, 21, 27, 15, 33, 39, 45, 51, 57, 63, 69]

In [ ]:
newVal =list(range(4,60,5))
newVal.insert(5,70)
newVal

[4, 9, 14, 19, 24, 70, 29, 34, 39, 44, 49, 54, 59]

In [ ]:
newVal =list(range(5,89,6))
newVal.append("Amit")
newVal

[5, 11, 17, 23, 29, 35, 41, 47, 53, 59, 65, 71, 77, 83, 'Amit']

In [ ]:
newUser =list(range(3,60,6))
newUser.extend('Amit')
newUser

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 'A', 'm', 'i', 't']

In [ ]:
newval =list(range(3,70,6))
newval.pop(3)
newval

[3, 9, 15, 27, 33, 39, 45, 51, 57, 63, 69]

In [ ]:
newval =list(range(3,70,6))
newval.remove(3)
#remove function is removing the element while pop function is removing the indexes
newval

[9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69]

In [ ]:
newval =list(range(3,70,6))
#del newval[3:5]
newval

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69]

In [ ]:
v1 = [5,6,3,7,4]
v2 = v1.copy()
print(v1)
print(v2)

[5, 6, 3, 7, 4]
[5, 6, 3, 7, 4]

In [ ]:
str1='sdjhf#$#$@#$sdf@#$#@'
neObj=str1.split("#")
neObj
schar =["#","$","@"]
for i in schar:
   str1 = str1.replace(i,'')
print(str1)

sdjhfsdf