<a href="https://colab.research.google.com/github/Amit-kr-pandey/Amit-kr-pandey/blob/main/DataStructures_exmple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#find the repeataiton in the list
ls = [45,34,67,23,67,45,23,67,45,12,45]
cntr = 0
repeatlist=list()
for i in ls:
  repeatcount=0
  for j in ls[cntr:]:
     if i == j:
       if i not in repeatlist:      
           repeatcount += 1    
           repeatlist.append(i)
  cntr += 1
print(repeatlist,repeatcount)

[45, 34, 67, 23, 12] 0

In [ ]:
l1 =[1,2,3]
l2=[9,8,7]

l1+l2 
l1*2

[1, 2, 3, 1, 2, 3]

In [ ]:
x = 87
y = 34
print(x,"is greater") if(x>=y) else print(y,"is greater")

87 is greater

In [ ]:
x= int(input("Enter a number"))
print(x,"is even number") if(x%2==0) else print(x,"is odd number")

Enter a number3
3 is odd number

In [ ]:
l1 =[45,23,12,89,56,72]
#l1.sort() //ascending order
l1.sort(reverse=True)
l1

[89, 72, 56, 45, 23, 12]

In [ ]:
#list comprehension
#multiply every number by 3 and store it in a new lst

# 1
# l1 =[45,23,12,89,56,72]
# newlist=list()
# for i in l1:
#   newlist.append(i*3)
# newlist

#2
lis=[34,23,56,23,12]
newls=list()
for i in lis:
  newls.append(i)  
newls

#3
# l1 =[45,23,12,89,56,72]
# newlist=[i*3 for i in l1]
# newlist

[34, 23, 56, 23, 12]

In [ ]:
# multiplly every even number by 2 and odd number by 3
l1 =[45,23,12,89,56,72]
newlist=[i*2 if (i%2==0) else i*3 for i in l1]
newlist

[135, 69, 24, 267, 112, 144]

In [ ]:
#slicing the letter inside the list string
strList =['INDIA','JAPAN','FRANCE','SWEDAN']
newlist=[i[0:3] for i in strList]
newlist

['INDI', 'JAPA', 'FRAN', 'SWED']

In [ ]:
# Dictionary 
#key value pair
#{key1:value1,key2:value2,key3:value3}
scores={'RCB':5.6,'CHN':9.5,'GUJ':7.8}
#scores
scores.keys()
#scores.values()

dict_keys(['RCB', 'CHN', 'GUJ'])

In [ ]:
# []=for list and () for tupples
scores={'RCB':5.6,'CHN':9.5,'GUJ':7.8}
scores.items()

dict_items([('RCB', 5.6), ('CHN', 9.5), ('GUJ', 7.8)])

In [ ]:
#insert using key and value
scores={'RCB':5.6,'CHN':9.5,'GUJ':7.8}
#scores['MUM']=4.6
scores['CHN']

9.5

In [ ]:
#INSET USING KEY ALREADY PRESENT
scores={'RCB':5.6,'CHN':9.5,'GUJ':7.8}
scores['RCB']=4.6
scores

{'CHN': 9.5, 'GUJ': 7.8, 'RCB': 4.6}

In [ ]:
#value of differsnt datatype and also keys
scores={'RCB':5.6,'CHN':9.5,'GUJ':7.8}
scores[3]='tigers'
scores

{3: 'tigers', 'CHN': 9.5, 'GUJ': 7.8, 'RCB': 5.6}

In [ ]:
Emp = {'Empno':[100,200,300],
       'Empname':['Amit','kiran','anu'],
       'salary':[40,50,23]}
Emp
print(Emp['salary'])

[40, 50, 23]

In [ ]:
# build a dictionay : {1:1,2:4,3:9,4:16..}
n = int(input("Enter the numebr"))
d={}
for i in range(1,n+1):
  d[i]=i*i

print(d)

Enter the numebr5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#{23:'odd',56:'even',12:'even'}
listnew =[23,56,12,78]
nedic = {}
for i in listnew:
  nedic[i] = 'Even' if(i%2==0) else 'odd'
nedic
# for i in listnew:
#   if(i%2==0):
#     nedic[i]='even'
#   else:
#     nedic[i]='odd'
# print(nedic)

# for i in listnew:
#   nedic[i]="odd" if(i%2==1) else "even"
# nedic

{12: 'Even', 23: 'odd', 56: 'Even', 78: 'Even'}

In [ ]:
#find sum of all values
d1={1:98,2:97,3:67,4:87}
sum = 0
for i in d1:
   sum += d1[i] 
sum
#1
#sum = 0
# for i in d1:
#   sum =sum+d1[i]
# print(sum)

#2
# sum = 0
# for i in d1.values():
#   sum += i
# print(sum)

349

In [ ]:
#3
d1={1:98,2:97,3:67,4:87}
sum(d1.values())

TypeError: ignored

In [ ]:
#get method it is giving the value of the key using key in get
dict1 = {"jan":2,"Feb":3,"Apr":5}
dict1.get("Feb")
dict1.get('Apr')
#dict1.get("Mar",False)

5

In [ ]:
#frequency of alphabets in string
text = "I love to program in python"
freq={}
#freq = dict() 
for c in text:
  freq[c]=freq.get(c,0)+1
  print(freq)

{'I': 1}
{'I': 1, ' ': 1}
{'I': 1, ' ': 1, 'l': 1}
{'I': 1, ' ': 1, 'l': 1, 'o': 1}
{'I': 1, ' ': 1, 'l': 1, 'o': 1, 'v': 1}
{'I': 1, ' ': 1, 'l': 1, 'o': 1, 'v': 1, 'e': 1}
{'I': 1, ' ': 2, 'l': 1, 'o': 1, 'v': 1, 'e': 1}
{'I': 1, ' ': 2, 'l': 1, 'o': 1, 'v': 1, 'e': 1, 't': 1}
{'I': 1, ' ': 2, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 't': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 't': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 't': 1, 'p': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 2, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 1, 'g': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1}
{'I': 1, ' ': 3, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1}
{'I': 1, ' ': 4, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1}
{'I': 1, ' ': 4, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1}
{'I': 1, ' ': 4, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 1, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 1, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1, 'y': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 2, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1, 'y': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 3, 'v': 1, 'e': 1, 't': 2, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1, 'y': 1, 'h': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 4, 'v': 1, 'e': 1, 't': 2, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 1, 'y': 1, 'h': 1}
{'I': 1, ' ': 5, 'l': 1, 'o': 4, 'v': 1, 'e': 1, 't': 2, 'p': 2, 'r': 2, 'g': 1, 'a': 1, 'm': 1, 'i': 1, 'n': 2, 'y': 1, 'h': 1}

In [ ]:
#enumerate.to find the index of an element
l1 =[23,45,67,56]
for i,j in enumerate(l1):
  print(i,j)

0 23
1 45
2 67
3 56

In [ ]:
#tuples
# tuples are immutables

t1 =(213,53,64,23,24)
t1

(213, 53, 64, 23, 24)

In [ ]:

t1 =(213,53,64,23,24)
t1[1:3]

(53, 64)

In [ ]:
#user defiened functions
def add(a,b):
  return(a+b)

#Function call
print(add(4,3))  
print(add(3.4,5.6))
print(add("AMit"," shubham"))

7
9.0
AMit shubham

In [ ]:
def calc(a,b):
  sum = a+b
  prod=a*b
  return (sum,prod)
calc(4,5)
s , p
print("sum = ",s,"  prod=",p)

sum =  9   prod= 20

In [ ]:
#factorial of number using function
def factorial(n):
  fact =1;
  for i in range(1,n+1):
    fact *= i
  return fact

number = int(input("Enter number"))
factorial(number)

Enter number3

6

In [ ]:
#generate the factorial of every number using list comprehension

l1 = list(range(3,25,4))
l2 =[factorial(i) for i in l1]
l2

[6, 5040, 39916800, 1307674368000, 121645100408832000, 25852016738884976640000]

In [ ]:
def functionprime(x):
 flag = 0
 n = (x)//2
 if(x == 0 or x ==1):
  flag =1
 for i in range(2,n):
   if(x % i == 0):
     flag =1
     break
 if(flag==0):
   return (True)
 else:
   return (False)

In [ ]:
l1 = list(range(23,46,3))
#identify prime numbers
l2 = [i for i in l1 if(functionprime(i))]
l2

[23, 29, 41]

In [ ]:
#lambdas
sum = lambda x,y:x+y
sum(23,34)

57

In [ ]:
#lambda to find square of a given number
squre =lambda x:x*x
squre(3)

9

In [ ]:
 
# map ,filter,reduce
#map(function,Sequence)
map(factorial,[12,34,23])

In [ ]:
#list(map(factorial,[5,4,2])) // on list  it will apply each and every element of list
#list(map(factorial,(3,5,6))) // on tupple

[6, 120, 720]

In [ ]:
#map is used for each elements when we want to perform same task on each and every 
#  elements of the list or array we can use map
l1=[34,56,43,78]
list(map(lambda x:x/2,l1))

[17.0, 28.0, 21.5, 39.0]

In [ ]:
l1 =[35.6,36.2,34.8]
print(list(map(lambda c:(9/5)*c+32),l1))

TypeError: ignored

In [ ]:
filter(function,sequence)

In [ ]:
list(filter(functionprime,[56,23,54,21,23,29]))

[23, 23, 29]

In [ ]:
#retain only even number and remove odd numebers
# if we want to get or filter some paticular data form list or array we can use filter
l1=[23,67,45,34,89,23]
list(filter(lambda x:x%2==0,l1))

[34]

In [ ]:
# reduce(function,sequence) //it gives only one output
# like max,min,sum,avg

from functools import reduce
l1=list(range(34,12,-2))
reduce(lambda x,y:x+y,l1)

264

In [ ]:
#reduce to find max element in the list using reduce
l1=list(range(34,12,-2))
 
reduce((lambda x,y:x if(x>y) else y),l1)

34

In [ ]:
#reduce to find min element in the list
l1=list(range(34,12,-2))
 
reduce((lambda x,y:x if(x<y) else y),l1)

14

In [ ]:
# Add consequtive elements from two different lists
l1 =[23,45,67,34]
l2 =[12,89,56,43]

l3 = list(map(lambda x,y:x+y,l1,l2))
l3

[35, 134, 123, 77]

In [ ]:
#write a program to find the factorial of number using reduce
# ls=[45,3,4,5,6]
# l2=[5,7,3,4,5]
#reduce((lambda x,y :factorial(x) if(x<y) else y),ls)

ls =list(range(1,i+1))

reduce(lambda x,y:x*y,ls)

[1, 2, 3]

In [ ]:
#
l1 = [3,4,5]
l2 = []
for i in l1:
  l2.append(reduce((lambda x,y:x*y),range(1,i+1)))

l2

[6, 24, 120]

In [ ]:
words = ['apple','donkey','fish','air','angle','banana']
#if word statrs with a display the length of the word , convert it into upper case
newWordls = list()
for i in words:
   if(i.startswith('a')):
     newWordls.append(len(i))
   else:
     newWordls.append(i.upper())   
newWordls

[5, 'DONKEY', 'FISH', 3, 5, 'BANANA']

In [ ]:
words = ['apple','donkey','fish','air','angle','banana']
#if word stars with a display the length of the word , convert it into upper case
  
list([len(i) if(i.startswith('a')) else i.upper() for i in words])

[5, 'DONKEY', 'FISH', 3, 5, 'BANANA']