<a href="https://colab.research.google.com/github/Amit-kr-pandey/Amit-kr-pandey/blob/main/Day2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSIGNMENTS

In [ ]:
# 1. Form a list by dividing every element by 2

listNew = list(map(lambda x:x//2,range(2,40,5)))
listNew

[1, 3, 6, 8, 11, 13, 16, 18]

In [ ]:
# 2. Form a list for all elements divisible by 5
listDiv = list(range(5,100,5))
listDiv

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
#3. Form a list of all elements such that dividing even numbers by 2
# and odd numbers by 3

listFirst = list(range(2,50,4))
listSecond = [i//2 if(i%2==0) else i//3 for i in listFirst]
listSecond

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
#4. Form a list of all even numbers by multiplying by itself
listNew = list(range(2,80,3))
listSec = [i*i if(i%2 == 0) else i for i in listNew ]
listSec

[4,
 5,
 64,
 11,
 196,
 17,
 400,
 23,
 676,
 29,
 1024,
 35,
 1444,
 41,
 1936,
 47,
 2500,
 53,
 3136,
 59,
 3844,
 65,
 4624,
 71,
 5476,
 77]

In [3]:
#5. Form all 3 digit number divide the numebr by 2
#hint use str() method to convert integer to string

ls = list(range(100,200,10))
ls2 = [i/2 for i in ls if(len(str(i))==3)]
ls2

[50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0]